* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

/* hero and nav  */

.nav-links li,
a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .nav-links li,
  a {
    font-size: 1.3em;
  }
}

header {
  background: black;
  display: flex;
  position: sticky;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0em 0.2em;
}
.nav-links li a {
  transition: all 0.7 ease 4sl;
}

.nav-links li a:hover {
  color: #7fa6cf;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background-mac.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.2em;
  background: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .hero-text {
    font-size: 1.5em;
  }

  li,
  a {
    font-size: 1.2em;
  }
}

/* bio  */

.bio {
  font-family: sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-color: #92c4f7;
  display: flex;
  flex-direction: column;
}

.biobody {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text1 {
  padding-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin: 0% 8%;
}
.text2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: 0% 8%;
}

hr {
  border: 1px solid rgba(0, 0, 20, 0.2);
}

.avatar {
  margin: 0% 7%;
  height: 18em;
  width: 18em;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.skills-title {
  display: flex;
}

.skills-title h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.outerskills {
  flex-flow: column wrap;
  width: 100%;
}

.innerskills {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.innerskills li {
  margin: 0.5em;
  font-size: 5em;
}

@media screen and (max-width: 1100px) {
  .biobody {
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
  }
  .avatar {
    height: 18m;
    width: 18m;
    padding-bottom: 3em;
  }
  .text1 {
    font-size: 1.3em;
  }
  .text2 {
    font-size: 1.1em;
  }
  .innerskills {
    margin-bottom: 2em;
  }
  .skills-title h4 {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  .avatar {
    height: 12em;
    width: 12em;
    padding-bottom: 3em;
  }
  .text1 {
    font-size: 1em;
  }
  .text2 {
    font-size: 0.7em;
  }
  .innerskills {
    margin-bottom: 2em;
  }
  .innerskills li {
    font-size: 3.2em;
  }
  .skills-title h4 {
    font-size: 1.2em;
  }
}

.projects {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-color: #92c4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectscontainer {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  background: #b9def0;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  align-items: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 0.5em;
}

.projecttitle {
  font-size: 1.3rem;
  padding: 0.5, 0em;
  font-family: 'Roboto', sans-serif;
  margin: 0.2em;
}

.projectpic {
  width: 20em;
  height: 25em;
  background-color: red;
  border-radius: 5px;
  margin: 0.5em;
  border: 1px solid black;
}

.projectbody {
  font-family: sans-serif;
  padding: 0.3em;
  font-size: 1rem;
  max-height: 10em;
  width: 100%;
}

.project-github-link {
  font-size: 1em;
  margin: 1em;
  color: black;
}

.github-link {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: black;
  margin-bottom: 5em;
}

.github-link i {
  margin-right: 0.3em;
}

.github-link p {
  font-size: 1.2em;
  margin-left: 1em;
}

@media screen and (min-width: 1500px) {
  .projectscontainer {
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .projectpic {
    width: 25rem;
    height: 30rem;
  }
}

@media screen and (max-width: 1100px) {
  .projectscontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-container {
    width: 85%;
    margin-bottom: 2em;
    font-size: 2em;
  }
  .projectpic {
    width: 85%;
    height: 40%;
    border-radius: 5px;
    margin: 0.5em;
    border: 1px solid black;
  }
  .projecttitle {
    font-size: 1.3em;
  }
  .projectbody {
    font-size: 0.8em;
  }
  .github-link p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .projectscontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .project-container {
    width: 95%;
    height: auto;
    margin-bottom: 2em;
    font-size: 1.2em;
  }
  .projecttitle {
    font-size: 1.1em;
  }
  .projectpic {
    width: 100%;
    height: 60%;
    border-radius: 5px;
    margin: 0.5em;
    border: none;
  }

  .github-link p {
    font-size: 1.2em;
  }
}

.contact {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #92c4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectiontitle {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.contacttitle {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 2em;
  font-size: 0.7em;
}

.email-info-conatiner {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .email-info-conatiner {
    justify-content: flex-start;
    font-size: 0.9em;
  }
  .sectiontitle {
    font-size: 3em;
  }
}

.email-info-conatiner a {
  color: black;
  font-style: italic;
}
.email-info-conatiner a {
  color: black;
  font-style: italic;
}

.contact-icon {
  font-size: 2em;
  margin-right: 1em;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: #92c4f7;
  padding: 8px;
}
.footertext {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-right: 2em;
}

@media screen and (max-width: 1100px) {
  .sectiontitle {
    font-size: 3em;
  }
}

@media screen and (max-width: 500px) {
  .sectiontitle {
    font-size: 2em;
  }
}
